@font-face {
    font-family: 'Life';
    src: url('./Life-Bold.woff2') format('woff2'),
        url('./Life-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Canva Sans';
    src: url('./CanvaSans-Regular.woff2') format('woff2'),
        url('./CanvaSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

