* {
	box-sizing: border-box;
    margin: 0;
}
body {
    font-family: "Life", serif;
    font-weight: 700;
    line-height: 1.5;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2E323A;
}
.leaderboard-container {
    width: 100%;
    max-width: 728px;
    display: block;
    text-decoration: none;
    margin: 0 auto;
}
.leaderboard {
    display: flex;
    align-items: center;
    background: #FFFFFF;
    color: #282e38;
    gap: 8px;
    padding: 0 12px;
}
.hero, .logo {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
}
.hero img {
    max-height: 90px;
    width: auto;
}
.logo img {
    max-width: 110px;
    height: auto;
}
#changing_content {
    flex: 1;
}
#changing_content .single-screen {
    transition: opacity 0.5s ease-in-out;
}
#changing_content .single-screen:not(:first-child) {
    display: none;
}
.row {
    display: flex;
    align-items: center;
	gap: 16px;
}
h1 {
    font-size: 22px;
    line-height: 1.1;
}
h3 {
    font-size: 19px;
    line-height: 1.25;
}
p {
    font-size: 13px;
    line-height: 1.2;
}
.kamal-singh .single-name-phone {
    padding: 3px 0;
}
.kamal-singh .single-name-phone p {
    color: #a48c65;
}
.kamal-singh h1 {
    text-align: center;
    line-height: 1.4;
}
.kamal-singh .left-column {
    flex: 0 0 auto;
}
.kamal-singh .middle-column {
    flex: 1;
}
.kamal-singh .right-column {
    flex: 0 0 auto;
    display: flex;
    padding-right: 12px;
}
.get-in-touch {
    display: inline-block;
    font-size: 9px;
    background: #A38C66;
    color: #fff;
    text-decoration: none;
    padding: 8px;
    text-transform: uppercase;
    font-family: 'Canva Sans';
    font-weight: 600;
    max-width: 75px;
    text-align: center;
}
.screen-content {
    text-align: center;
}
.screen-content .second-heading {
    color: #A38C66;
}
.screen-content .get-in-touch {
    padding: 5px 10px;
    margin-top: 5px;
    max-width: 85px;
}
.contact-info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    margin-top: 4px;
}
.contact-info p {
    font-size: 14px;
    line-height: 1.2;
}
.contact-info p.number {
    color: #A38C66;
}