* {
	box-sizing: border-box;
    margin: 0;
}
img {
    max-width: 100%;
    height: auto;
}
body {
    font-family: "Life", serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.25;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2E323A;
}
.leaderboard-container {
    width: 100%;
    max-width: 300px;
    height: 600px;
    display: flex;
    text-decoration: none;
    margin: 0 auto;
}
.leaderboard {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: #ffffff;
    color: #2E323A;
    gap: 24px;
    padding: 32px 24px;
}
.logo img {
    height: auto;
    max-width: 160px;
}
.heros {
    display: flex;
    align-items: center;
    gap: 14px;
    text-align: center;
}
.single-hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}
.hero-image {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid #A38C66;
    padding: 2px;
}
.hero-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}

#changing_content .single-screen {
    transition: opacity 0.5s ease-in-out;
}
#changing_content .single-screen:not(:first-child) {
    display: none;
}
h1 {
    font-size: 38px;
    line-height: 1.2;
}
h2 {
    font-size: 32px;
    line-height: 1.33;
}
h3 {
    font-size: 26px;
}
.second-heading, .number {
    color: #A38C66;
}
.get-in-touch {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    line-height: 1.4;
    background: #A38C66;
    color: #fff;
    text-decoration: none;
    padding: 7px 10px;
    text-transform: uppercase;
    font-family: 'Canva Sans';
    font-weight: 600;
    max-width: 112px;
    text-align: center;
    min-height: 46px;
    margin: 0 auto;
}
.screen-content {
    text-align: center;
}
.screen-content.first {
    padding: 0 8px;
}
.screen-content.first h3 {
    max-width: 200px;
    margin: 12px auto 0;
}
.screen-content.second {
    padding: 0 14px;
}
.screen-content.second .get-in-touch {
    margin-top: 24px;
}
.screen-content.third h2.second-heading {
    margin: 20px 0;
    font-size: 29px;
}